%h2.text-center
  = title
%br
%span.col-md-4.col-md-offset-4#inputform
  = form_for @vacancy, method: method, html: { name: 'vacancy' } do |f|
    .form-group
      = f.label :title, 'Название'
      %span#alert-title-empty.hidden
        = render 'shared/alert', message: 'Введите название вакансии'
      = f.text_field :title, class: 'form-control', dataindex: '1'

    .form-group.form-inline
      = render 'shared/form_skills_new'
      %br
      %span#skills-list
        = button_tag 'Sample', type: 'button', id: 'sample',
          class: 'btn btn-primary glyphicon glyphicon-remove-right hidden'
    = f.hidden_field :skills, id: 'skills', value: ''

    .form-group
      = f.label :salary, 'Зарплата'
      %span#alert-salary-empty.hidden
        = render 'shared/alert', message: 'Укажите зарплату'
      %span#alert-salary-invalid.hidden
        = render 'shared/alert', message: 'Зарплата должна быть целым, положительным числом'
      = f.number_field :salary, class: 'form-control', dataindex: '3'
    .form-group
      = f.label :contacts, 'Контактная информация'
      %span#alert-contacts-empty.hidden
        = render 'shared/alert', message: 'Укажите контактную информацию'
      = f.text_area :contacts, class: 'form-control', dataindex: '4'
    .form-group
      = f.label :validity, 'Срок действия, дней'
      %span#alert-validity-empty.hidden
        = render 'shared/alert', message: 'Укажите срок действия'
      %span#alert-validity-invalid.hidden
        = render 'shared/alert', message: 'Срок действия должен быть целым, положительным числом'
      = f.number_field :validity, class: 'form-control', dataindex: '5'
    %br
    = f.submit submit_text, class: 'btn btn-success',
      id: 'submit-vacancy', onsubmit: 'return validate_vacancy()'
