%h2.text-center Создание вакансии
%br
%span.col-md-4.col-md-offset-4
  = simple_form_for @vacancy do |f|
    = f.input :title, label: 'Название'

    = label_tag 'skill', 'Умение'
    .form-group.form-inline
      = text_field_tag 'skill', nil, class: 'form-control'
      = button_tag 'Добавить', type: 'button', class: 'btn btn-info'
      %span.skills-list
        = button_tag "Ruby", type: 'button', class: 'btn btn-primary glyphicon glyphicon-remove-right'
        = button_tag "Ruby on rails", type: 'button', class: 'btn btn-primary glyphicon glyphicon-remove-right'
        = button_tag "Html", type: 'button', class: 'btn btn-primary glyphicon glyphicon-remove-right'
        = button_tag "Ajax", type: 'button', class: 'btn btn-primary glyphicon glyphicon-remove-right'
        = button_tag "Angular2", type: 'button', class: 'btn btn-primary glyphicon glyphicon-remove-right'
        = button_tag "Postgresql", type: 'button', class: 'btn btn-primary glyphicon glyphicon-remove-right'
        = button_tag "Css", type: 'button', class: 'btn btn-primary glyphicon glyphicon-remove-right'
        = button_tag "Haml", type: 'button', class: 'btn btn-primary glyphicon glyphicon-remove-right'
        = button_tag "Slim", type: 'button', class: 'btn btn-primary glyphicon glyphicon-remove-right'
    = f.hidden_field :skills

    = f.input :salary, label: 'Зарплата'
    = f.input :contacts, label: 'Контактная информация'
    = f.input :validity, label: 'Срок действия, дней'
    = f.submit 'Создать вакансию', class: 'btn btn-success'
