%h2.text-center Создание вакансии
%br
%span.col-md-4.col-md-offset-4#inputform
  = simple_form_for @vacancy do |f|
    = f.input :title, label: 'Название'

    = label_tag 'skill', 'Умение'
    .form-group.form-inline
      = text_field_tag 'skill', nil, class: 'form-control', id: 'skill',
        dataindex: '2'
      = button_tag 'Добавить', type: 'button', class: 'btn btn-info',
        id: 'add-skill'
      %br
      %span#skills-list
        = button_tag 'Sample', type: 'button', id: 'sample',
          class: 'btn btn-primary glyphicon glyphicon-remove-right hidden'
    = f.hidden_field :skills, id: 'skills', value: ''

    = f.input :salary, label: 'Зарплата', dataindex: '3'
    = f.input :contacts, label: 'Контактная информация', dataindex: '4'
    = f.input :validity, label: 'Срок действия, дней', dataindex: '5'
    = f.submit 'Создать вакансию', class: 'btn btn-success'
