= form_for @skill, remote: true do |s|
  = s.label :name, 'Умение'
  %span#alert-few-skills2.hidden
    = render 'shared/alert', message: 'Укажите несколько требуемых умений'
  = s.text_field :name, class: 'form-control', id: 'skill',
    list: 'skill-name', dataindex: '2'
  %datalist#skill-name
    - Skill.all.each do |skill|
      %option{ value: "#{skill.name}" }
  = s.submit 'Добавить', class: 'btn btn-info', id: 'ajax-skill'