!!!
%html
  %head
    %title RecruitmentAgency
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/top_navigation'
    - if flash[:notice]
      .alert.alert-info
        = flash[:notice]
    = yield